// $espresso: #20190F;
// $olive: #907E5A;
// $forest: #4C5D4B;
// $sage: #6c7468;
// $cream: #E3DEC8;

// Light Mode Palette
$text-light: #2C2C2C;
$primary-light: #F9FAFB;      // background
$secondary-light: #E9F1FA;    // cards/sections
$accent-pink-light: #F4D9DF;  // CTA
$accent-blue-light: #6BA7D6;  // links/icons

// Dark Mode Palette
$text-dark: #F4F4F4;
$primary-dark: #1B1C1E;       // background
$secondary-dark: #2A2D31;     // cards/sections
$accent-pink-dark: #F2A7B7;   // CTA
$accent-blue-dark: #7FB8E6;   // links/icons